extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    span My Id is:
    span#peerId
  p
    span RemoteId:
    input#remoteId
  p
    span Arg:
    input#arg
  p
    button#call Call!
  p#result
    
  script(type='text/javascript')
    $(function() {
      var peerId = (function(n) {
        var r = "";
        var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        for (var i = 0; i < n; i++) 
          r = r + possible.charAt(Math.floor(Math.random() * possible.length));
        return r;
      })(20);
      $('#peerId').text(peerId);
      
      var client = JRPCClient('/jrpc', peerId);
      client.register('myFunc', function(remoteId, params) {
        return 'Hello ' + remoteId + ', I am ' + peerId + ':' + params.data;
      });

      $('#call').click(function() {
        var remoteId = $('#remoteId').text();
        var params = {
          data: $('#arg').text()
        }
        client.request(remoteId, 'myFunc', params, function(err, result) {
          if (err) {
            $('#result').text(err.message);
          } else {
            $('#result').text(result);
          }
        });
      });
    });
